%% -*- erlang -*-
{deps, [{redbug, "2.1.0"}]}.

{profiles, [
    {test, [
        {deps, [
            {proper, "1.5.0"},
            {eunit_formatters, "0.6.0"}
        ]},
        {eunit_opts, [
            {report, {eunit_progress, [colored, profile]}}
        ]}
    ]}
]}.

{erl_opts, [{platform_define, "^2[5678]", 'USE_SOCKET'}]}.
